.uitleg {
	font-family: sans-serif;
}

.uitleg p {
	margin-top: 4px;
	font: normal 11px arial, tahoma, helvetica, sans-serif;
}

.uitleg p em {
	font-style: italic;
}

.capsPanel {
	font-family: monospace;
}

.versiePanel {
	
}

.olsPanel {
	
}

.notabene {
	margin: 10px;
	font: normal 13px sans-serif;
}

.notabene img {
	float: left;
}

.attribuuttabel {
	border: 1px;
}

.attribuuttabel td {
	border: 1px;
	border-color: #000000;
	padding: 2px
}