.uitleg {
	font: normal 11px arial, tahoma, helvetica, sans-serif;
	overflow-y: auto;
}

.uitleg p {
	margin-top: 4px;
}

.uitleg p em {
	font-style: italic;
	display: block;
	text-indent: 8px;
}

.uitleg p img {
	float: left;
}

.uitleg h1,.uitleg h2 {
	color: #333;
	font: bold 11px arial, tahoma, helvetica, sans-serif;
	line-height: 18px;
}

.uitleg h1 {
	font-size: 15px;
}

.capsPanel {
	font-family: monospace;
}

.versiePanel {
	
}

.olsPanel {
	
}

.notabene {
	margin: 10px;
	font: normal 13px sans-serif;
}

.notabene img {
	float: left;
}

.featureInfo .featureInfo td,.featureInfo th {
	border: 1px solid #D0D0D0;
	border-collapse: collapse;
	margin: 0;
	padding: .2em .1em;
}

.featureInfo {
	width: 99%;
}

.featureInfo caption {
	font-weight: bold;
	text-transform: uppercase;
	padding: .2em .2em;
}

.featureInfo th {
	padding: .2em .2em;
	font-weight: bold;
	font-style: italic;
	background: #EEEEEE;
}

.featureInfo tr.odd td {
	background: #EEEEEE;
}

.featureInfo td {
	background: #FFFFFF;
}