.uitleg {
	font-family: sans-serif;
}

.uitleg p {
	margin-top: 4px;
	font: normal 11px arial, tahoma, helvetica, sans-serif;
}

.uitleg p em {
	font-style: italic;
}

.uitleg p img {
	float: left;
}

.capsPanel {
	font-family: monospace;
}

.versiePanel {
	
}

.olsPanel {
	
}

.notabene {
	margin: 10px;
	font: normal 13px sans-serif;
}

.notabene img {
	float: left;
}

.featureInfo .featureInfo td,.featureInfo th {
	border: 1px solid #D0D0D0;
	border-collapse: collapse;
	margin: 0;
	padding: .2em .1em;
}

.featureInfo {
	width: 99%;
}

.featureInfo caption {
	font-weight: bold;
	text-transform: uppercase;
	padding: .2em .2em;
}

.featureInfo th {
	padding: .2em .2em;
	font-weight: bold;
	font-style: italic;
	background: #EEEEEE;
}

.featureInfo tr.odd td {
	background: #EEEEEE;
}

.featureInfo td {
	background: #FFFFFF;
}

.olControlLoadingPanel {
	background-image:
		url(http://extjs.cachefly.net/ext-3.3.1/resources/images/default/tree/loading.gif);
	background-repeat: no-repeat;
	background-color: #E8E8E8;
	background-position: 5px;
	display: none;
	color: #000000;
	font-size: 12px;
	margin-left: 50px;
	margin-top: 50px;
	padding-left: 40px;
	padding-top: 7px;
	position: relative;
	width: 120px;
	height: 32px;
	border: solid 1px;
	border-bottom-color: #aaaaaa;
	border-right-color: #aaaaaa;
	border-top-color: #ddd;
	border-left-color: #ddd;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 2px 2px 2px #000;
	-moz-box-shadow: 2px 2px 2px #000;
	-webkit-box-shadow: 2px 2px 2px #000;
}